/*@import url('https://fonts.googleapis.com/css?family=Numans');*/
@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i');

html, body {
  height: 100vh;
  min-height:100vh;
}

#banner {
	width: 100%;
}

#banner img {
	width: 100%;
}

#banner2 {
	background: url("img/banner2.png") no-repeat center center;
	background-size: contain;
	overflow: hidden;
	height: 50vh;	
	/*width: 100%;*/
}

#feature1 {
	background: url("img/1.jpg") no-repeat center center;
	background-size: cover;
	overflow: hidden;
	height: 50vh;	
}

#feature2 {
	background: url("img/2.jpg") no-repeat center center;
	background-size: cover;
	overflow: hidden;
	height: 50vh;	
}

#feature3 {
	background: url("img/3.jpg") no-repeat center center;
	background-size: cover;
	overflow: hidden;
	height: 50vh;	
}

#feature4 {
	background: url("img/4.jpg") no-repeat center center;
	background-size: cover;
	overflow: hidden;
	height: 50vh;	
}

#profile {
	height: 80vh;
 	font-family: 'Lora', sans-serif;
 	font-size: 2em;	
 	font-style: italic;
 	font-weight: 100;
}

#map {
	height: 80vh;
}

#footer {
	height: 100px;
}

#footer .content {
	height: 100%;
}

#share {
	color: white;
	background-color: black;
	opacity: 0.8;
	width: 70px; 	
 	z-index: 1000; /* Stay on top */	
 	position: fixed; /* Set the navbar to fixed position */
 	top: 50vh; /* Position the navbar at the top of the page */
 	left: calc(100vw - 100px);
}
